@import url('https://fonts.googleapis.com/css?family=Raleway:300')

body
    background linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229))
    color white
    font-family 'Raleway', sans-serif
    text-align center
    letter-spacing 1.5px

    h1
        margin-top 50vh
